# Data Cleaning in Practice

In [1]:
import pandas as pd
import numpy as np

## Car Sales Missing Values dataset

In [2]:
car_sales_missing = pd.read_csv("data/car-sales-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [3]:
car_sales_missing.isnull().value_counts()

Make   Colour  Odometer (KM)  Doors  Price
False  False   False          False  False    773
True   False   False          False  False     43
False  False   False          True   False     42
               True           False  False     42
               False          False  True      41
       True    False          False  False     39
                                     True       3
               True           False  False      3
               False          True   False      3
       False   True           False  True       2
True   False   True           False  False      2
False  False   True           True   False      1
       True    False          True   True       1
       False   False          True   True       1
True   False   False          False  True       1
                              True   False      1
                                     True       1
       True    False          False  False      1
dtype: int64

In [4]:
# Dropping all the rows with all NaN values
car_sales_missing.dropna(axis='index', how='all', inplace = True)

In [5]:
# renaming rows
car_sales_missing.rename(columns = {'Odometer (KM)': 'Odometer'}, inplace = True)

## Handling numerical data

In [6]:
# Filling NaN values with mean
odo_mean = car_sales_missing["Odometer"].mean()
car_sales_missing["Odometer"].fillna(odo_mean, inplace = True)
car_sales_missing["Odometer"] = car_sales_missing["Odometer"].astype(int)

In [7]:
# Filling Doors NaN with median values
doors_median = car_sales_missing["Doors"].median()
car_sales_missing["Doors"].fillna(doors_median, inplace = True)

In [8]:
# Filling Doors NaN with median values
price_mean = car_sales_missing["Price"].mean()
car_sales_missing["Price"].fillna(price_mean, inplace = True)

In [9]:
car_sales_missing.head(20)

      Make Colour  Odometer  Doors    Price
0    Honda  White     35431    4.0  15323.0
1      BMW   Blue    192714    5.0  19943.0
2    Honda  White     84714    4.0  28343.0
3   Toyota  White    154365    4.0  13434.0
4   Nissan   Blue    181577    3.0  14043.0
5    Honda    Red     42652    4.0  23883.0
6   Toyota   Blue    163453    4.0   8473.0
7    Honda  White    131253    4.0  20306.0
8      NaN  White    130538    4.0   9374.0
9    Honda   Blue     51029    4.0  26683.0
10  Nissan  White    167421    4.0  16259.0
11  Nissan  Green     17119    4.0   6160.0
12  Nissan  White    102303    4.0  16909.0
13     NaN  White    134181    4.0  11121.0
14   Honda   Blue    199833    4.0  18946.0
15  Toyota   Blue    205592    4.0  16290.0
16  Toyota    Red     96742    4.0  34465.0
17     BMW  White    194189    5.0  17177.0
18  Nissan  White     67991    3.0   9109.0
19  Nissan   Blue    215820    4.0   6010.0

## Handling String (Object) Data

In [10]:
car_sales_missing['Colour'].unique()

array(['White', 'Blue', 'Red', 'Green', nan, 'Black'], dtype=object)

In [11]:
# Filling 'Colour' with random colors
import random
car_sales_missing['Colour'].fillna('missing', inplace = True)

In [12]:
car_sales_missing['Make'].unique()

array(['Honda', 'BMW', 'Toyota', 'Nissan', nan], dtype=object)

In [13]:
car_sales_missing[car_sales_missing['Make'].isnull()].index

Int64Index([  8,  13,  40,  54,  73,  77,  89, 122, 123, 125, 156, 200, 239,
            256, 265, 320, 342, 344, 356, 363, 369, 371, 382, 395, 409, 420,
            453, 490, 496, 502, 527, 528, 545, 574, 652, 653, 670, 689, 691,
            733, 755, 798, 860, 868, 881, 925, 974, 985, 996],
           dtype='int64')

In [14]:
car_sales_missing.drop(car_sales_missing[car_sales_missing['Make'].isnull()].index, inplace = True)
car_sales_missing.head(20)

      Make   Colour  Odometer  Doors    Price
0    Honda    White     35431    4.0  15323.0
1      BMW     Blue    192714    5.0  19943.0
2    Honda    White     84714    4.0  28343.0
3   Toyota    White    154365    4.0  13434.0
4   Nissan     Blue    181577    3.0  14043.0
5    Honda      Red     42652    4.0  23883.0
6   Toyota     Blue    163453    4.0   8473.0
7    Honda    White    131253    4.0  20306.0
9    Honda     Blue     51029    4.0  26683.0
10  Nissan    White    167421    4.0  16259.0
11  Nissan    Green     17119    4.0   6160.0
12  Nissan    White    102303    4.0  16909.0
14   Honda     Blue    199833    4.0  18946.0
15  Toyota     Blue    205592    4.0  16290.0
16  Toyota      Red     96742    4.0  34465.0
17     BMW    White    194189    5.0  17177.0
18  Nissan    White     67991    3.0   9109.0
19  Nissan     Blue    215820    4.0   6010.0
20  Toyota  missing    124844    4.0  24130.0
21   Honda  missing     30615    4.0  29653.0

In [15]:
car_sales_missing.isnull().value_counts()

Make   Colour  Odometer  Doors  Price
False  False   False     False  False    951
dtype: int64

## Saving cleaned dataset to CSV

In [16]:
car_sales_missing.to_csv('data/car-sales-cleaned.csv', index = False)

In [17]:
car_sales_cleaned = pd.read_csv('data/car-sales-cleaned.csv')
car_sales_cleaned.head()

     Make Colour  Odometer  Doors    Price
0   Honda  White     35431    4.0  15323.0
1     BMW   Blue    192714    5.0  19943.0
2   Honda  White     84714    4.0  28343.0
3  Toyota  White    154365    4.0  13434.0
4  Nissan   Blue    181577    3.0  14043.0